---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import acceleratedPrograms from "../../data/acceleratedPrograms";
import AcceleratedProgramsCard from "../../components/AcceleratedProgramsCard.astro";

const headerData = {
  title: "Accelerated Flight Training Programs",
  primaryImage:
    "/src/assets/images/front-view-cessna-172xp-high-performance.webp",
  primaryAlt: "Front view of a Cessna 172XP high performance aircraft",
};
---

<BaseLayout
  siteTitle="Accelerated Flight Training Programs in Utah | Fast-Track Pilot Courses"
  siteDescription="Earn your pilot certifications in record time with Blitz Aviation's accelerated flight training programs in Ogden, Utah. Complete instrument, commercial, and CFI ratings in as little as 7-14 days with our intensive, focused courses."
  siteKeywords="accelerated flight training Utah, fast track pilot licenses, intensive flight courses, quick pilot certification, 14-day instrument rating, 10-day commercial pilot, 7-day CFI course, expedited flight training, rapid pilot training, aviation career fast track, quick flight certifications Utah"
>
  <Header slot="hero" data={headerData} />

  <section id="acceleratedPrograms">
    <div class="mx-auto px-5 md:px-10 lg:px-20 py-24">
      <h2 class="text-6xl font-bold text-center italic">
        Blitz Accelerated Programs
      </h2>
      <p class="text-center mt-6 text-lg max-w-3xl mx-auto">
        Our accelerated programs are designed for pilots who want to achieve
        their aviation goals quickly and efficiently. With intensive training
        schedules and experienced instructors, you'll gain the skills and
        knowledge needed to advance your flying career in a fraction of the
        time.
      </p>
      <div class="flex flex-col gap-20 md:gap-[10rem] mt-20">
        {
          acceleratedPrograms.map((program) => (
            <AcceleratedProgramsCard
              imageSrc={program.data.primaryImage}
              headline={program.data.title}
              title={program.data.title}
              description={program.data.intro}
              details={program.data.details}
              prerequisites={program.data.prerequisites}
            />
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
