---
import FormattedDate from "./FormattedDate.astro";
import ImageComp from "./ImageComp.astro";

const { id, data } = Astro.props;
const { title, description, heroImage, pubDate } = data;
const datePublished = new Date(pubDate);
---

<div
  class="flex gap-10 flex-col group border-gray-200 border rounded-2xl shadow-lg p-2 w-full"
>
  <div class="h-64 overflow-hidden shrink-0 relative">
    <ImageComp
      src={heroImage}
      alt={title}
      classes="w-full h-full object-cover duration-700 rounded-2xl"
    />
  </div>

  <div class="flex flex-col bg-white px-6 gap-3 justify-between h-full">
    <div class="flex flex-col gap-3 h-full justify-between">
      <div class="flex flex-col gap-3">
        <p class="text-sm text-main-black">
          <FormattedDate date={datePublished} />
        </p>
        <h3 class="text-xl font-medium text-main-blue line-clamp-3">
          {title}
        </h3>
        <p class="text-gray-600 line-clamp-4">{description}</p>
      </div>
      <a href={`/blog/${id}`} class="btn-secondary my-5">Read More</a>
    </div>
  </div>
</div>
