---
import ImageComp from "./ImageComp.astro";
const { imageSrc, imageAlt, headline, title, description, url } = Astro.props;
---

<a href={url} class="flex flex-col group h-full justify-between">
  <div>
    <div class="overflow-hidden">
      <ImageComp
        src={imageSrc}
        alt={imageAlt}
        classes="group-hover:scale-125 duration-500 h-80 w-full object-cover"
      />
    </div>
    <h5 class="text-gray-700 mt-5 font-bold">{headline}</h5>
    <h6 class="text-xl text-main-blue-800 font-semibold italic">{title}</h6>
    <p class="font-light tracking-wider">{description}</p>
  </div>
  <div class="mt-3 flex justify-end">
    <p class="font-bold text-main-blue-800 group-hover:scale-110 duration-300">
      {headline} More
    </p>
  </div>
</a>
